## Part I: Lists and Loops

### 1) Create a list with the names of the top 10 CO₂ emitting countries (in order by total emissions)

In [3]:
top10_co2_emitting_countries = ['China', 'United States', 'India', 'Russia', 'Japan', 'Iran', 'Indonesia', 
                                'Saudi Arabia', 'South Korea', 'Germany']

### 2) Have Python tell you how many countries there are by examining your list

In [4]:
len(top10_co2_emitting_countries)

10

### 3) Use slicing to display the first three countries (the top emitters)

In [5]:
top10_co2_emitting_countries[0:3]

['China', 'United States', 'India']

### 4) Iterate through your countries and print the country name only if it has an a in the name

In [6]:
for country in top10_co2_emitting_countries:
    if "a" in country:
        print(country)

China
United States
India
Russia
Japan
Iran
Indonesia
Saudi Arabia
South Korea
Germany

## Part II: Dictionaries

### 1) Now create a dictionary that maps each country name to its annual CO₂ emissions

In [7]:
top10_co2_emissions_2024 = {'China': 13124.70, 'United States': 4632.16, 'India': 3153.83, 'Russia': 2009.15, 
                            'Japan': 972.27, 'Iran': 828.99, 'Indonesia': 812.20, 'Saudi Arabia': 652.51, 
                            'South Korea': 588.01, 'Germany': 579.94}

### 2) Use your dictionary to look up the United States’ emissions

In [8]:
top10_co2_emissions_2024['United States']

4632.16

### 3) Loop through the data and create a list of countries whose emissions are greater than 1,000 million metric tons per year

In [19]:
high_emitters = []
for country, emissions in top10_co2_emissions_2024.items():
    if emissions > 1000:
        high_emitters.append(country)

print(high_emitters)

['China', 'United States', 'India', 'Russia']

### 4) Now add Brazil to your dictionary

In [21]:
top10_co2_emissions_2024['Brazil'] = 491.47
print(top10_co2_emissions_2024)

{'China': 13124.7, 'United States': 4632.16, 'India': 3153.83, 'Russia': 2009.15, 'Japan': 972.27, 'Iran': 828.99, 'Indonesia': 812.2, 'Saudi Arabia': 652.51, 'South Korea': 588.01, 'Germany': 579.94, 'Brazil': 491.47}

## Part III: Functions

### 1. Write a function to convert temperature from kelvin to celsius

In [46]:
def temp_conversion_to_celsius(kelvin):
    """ Temperature conversion from kelvin to celsius """
    return kelvin - 273.15

In [47]:
def temp_conversion_to_kelvin(celsius):
    """ Temperature conversion from celsius to kelvin """
    return celsius + 273.15

### 2. Write a function to convert temperature to fahrenheit

In [59]:
def temp_conversion_to_fahrenheit(temp, unit):
    """ Temperature conversion from celsius or kelvin to fahrenheit """
    if unit == 'celsius':
        return (temp * 9/5) + 32
    elif unit == 'kelvin':
        return ((temp - 273.15) * 9/5) + 32
    else:
        print("Error: Unit must be celsius or kelvin")

### 3) Check that the outputs are sensible

In [48]:
temp_conversion_to_celsius(300)

26.850000000000023

In [34]:
temp_conversion_to_kelvin(20)

293.15

In [38]:
temp_conversion_to_fahrenheit(20, 'celsius')

68.0

In [39]:
temp_conversion_to_fahrenheit(293.15, 'kelvin')

68.0

In [40]:
temp_conversion_to_fahrenheit(300, 'kelvin')

80.33000000000004

In [41]:
temp_conversion_to_fahrenheit(-10, 'celsius')

14.0

In [42]:
temp_conversion_to_fahrenheit(-30, 'celsius')

-22.0

In [60]:
temp_conversion_to_fahrenheit(70, 'fahrenheit')

Error: Unit must be celsius or kelvin

### 4) Now write a function that converts from fahrenheit

In [56]:
def temp_conversion_from_fahrenheit(temp, unit):
    """ Conversion from fahrenheit to either celsius or kelvin """
    if unit == 'celsius':
        return (temp - 32) * 5/9
    elif unit == 'kelvin':
        return ((temp - 32) * 5/9) + 273.15
    else:
        print("Error: Unit must be celsius or kelvin")

In [52]:
temp_conversion_from_fahrenheit(68, 'celsius')

20.0

In [54]:
temp_conversion_from_fahrenheit(68, 'kelvin')

293.15

In [58]:
temp_conversion_from_fahrenheit(70, 'fahrenheit')

Error: Unit must be celsius or kelvin

### 5) Write a function that takes two arguments (feet and inches) and returns height in meters

In [35]:
def meters_conversion_from_feet_and_inches (feet, inches):
    """ Conversion from feet and inches to meters """
    return round((feet / 3.281) + (inches / 39.37), 2)

### 6. Write a function takes one argument (height in meters) and returns two arguments (feet and inches)

In [32]:
def feet_and_inches_conversion_from_meters (meters):
    """ Conversion from meters to feet and inches """
    total_inches = meters * 39.37
    feet = int(total_inches // 12)
    inches = round(total_inches % 12)
    if inches == 12:
        feet += 1
        inches = 0
    return feet, inches

### 7) Verify that the “round trip” conversion from and back to meters is consistent

In [44]:
meters_conversion_from_feet_and_inches(5, 10)

1.78

In [36]:
meters_conversion_from_feet_and_inches(5, 4)

1.63

In [39]:
meters_conversion_from_feet_and_inches(6, 8)

2.03

In [43]:
feet_and_inches_conversion_from_meters(1.75)

(5, 9)

In [42]:
feet_and_inches_conversion_from_meters(1.60)

(5, 3)

In [41]:
feet_and_inches_conversion_from_meters(1.90)

(6, 3)